USE [DBtest]
GO
/****** Object:  Table [dbo].[table_holder_info]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_holder_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NOT NULL,
	[phone] [nchar](25) NOT NULL,
	[idcard] [nchar](18) NOT NULL,
	[holdVolums] [int] NOT NULL,
	[unit] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_table_holder_inf] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_operator]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_operator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[operator] [nvarchar](10) NOT NULL,
	[password] [int] NOT NULL,
	[unit] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_table_operator] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_permission_log]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_permission_log](
	[id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_permission_sign]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_permission_sign](
	[id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_record]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holderID] [int] NOT NULL,
	[salesVolume] [int] NOT NULL,
	[recorder] [nvarchar](10) NOT NULL,
	[recordDate] [datetime] NOT NULL,
	[operator] [nvarchar](10) NULL,
	[operateDate] [datetime] NULL,
	[remark] [nchar](10) NOT NULL,
	[has_equity_certificate] [char](1) NOT NULL,
	[has_receipt] [char](1) NOT NULL,
	[has_commitment_letter] [char](1) NOT NULL,
	[is_entrusted] [char](1) NOT NULL,
 CONSTRAINT [PK_table_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[table_operator] ADD  CONSTRAINT [DF_table_secret]  DEFAULT ((123456)) FOR [password]
GO
ALTER TABLE [dbo].[table_operator] ADD  DEFAULT ('未命名') FOR [Name]
GO
ALTER TABLE [dbo].[table_record] ADD  CONSTRAINT [DF_table_record_has_equity_certificate]  DEFAULT ('N') FOR [has_equity_certificate]
GO
ALTER TABLE [dbo].[table_record] ADD  CONSTRAINT [DF_table_record_has_receipt]  DEFAULT ('N') FOR [has_receipt]
GO
ALTER TABLE [dbo].[table_record] ADD  CONSTRAINT [DF_table_record_has_commitment_letter]  DEFAULT ('N') FOR [has_commitment_letter]
GO
ALTER TABLE [dbo].[table_record] ADD  CONSTRAINT [DF_table_record_is_entrusted]  DEFAULT ('N') FOR [is_entrusted]
GO
/****** Object:  StoredProcedure [dbo].[SYS_P_shareholderTotal]    Script Date: 2025/8/14 16:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <2025.8.11>
-- Description:	股权回购汇总表
--  [SYS_P_shareholderTotal]  '%'
-- =============================================
CREATE  PROCEDURE [dbo].[SYS_P_shareholderTotal]
	@unit nvarchar(30)  --单位
AS

declare   @tmp table(
	unit nvarchar(10),  --单位
	manQty	int,		  --股东数
	shareholderQty dec,   --股权总
	signQty	int,          --签约人数
	salesVolunme int           --签约股数
)

insert into @tmp(unit,manQty,shareholderQty)	
select unit,COUNT(*) as manQty,SUM(holdVolums) as shareholderQty 
from table_holder_info
where unit like @unit
group by unit


update @tmp set signQty = B.signQty,salesVolunme = B.salesVolunme
from (
	select B.unit,
	   SUM(case remark when '已签约' then 1 else 0 end) as SignQty,     --统计已签约人数
	   SUM(case remark when '已签约' then salesVolume else 0 end) as salesVolunme  --汇总已签约股数
	from table_record A inner join table_holder_info B on A.holderID = B.id
	group by B.unit
) B inner join @tmp A on  A.unit = B.unit

select unit,manQty,isnull(shareholderQty,0),isnull(signQty,0),isnull(salesVolunme,0)
from @tmp order by unit
GO
